@use '../helper/' as *;

.log-reg-form{
    width: 90vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include flex(center, center, column);
    background: $defaultMedium;
    border-radius: 5px;
    padding: 1rem;

    .form-title{
        padding: 0.5rem 0;
        letter-spacing: 0.5rem;
    }

    .error-msg{
        color: $error;
        padding: 0.5rem 0;
        font-weight: bold;
        letter-spacing: 0.1rem;
        text-align: center;
    }

    .form-label{
        width: 80%;
        padding: 0.5rem 0;
        @include flex(center, flex-start, column);
        color: $defaultLight;

        .form-input{
            width: 100%;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            font-family: $mainFont;
            background: none;
            @include border(2px);
            border-color: $defaultLight;
            border-radius: 5px;
            color: $defaultLight;
            transition: ease-in-out 0.3s;
            &:hover{
                box-shadow: 0 0 1em $defaultRegular;
            }
        }
    }

    .form-submit-wrapper{
        width: 80%;
        padding: 1rem 0;

        .form-btn{
            width: 100%;
            padding: 0.5rem 0;
            font-size: 1rem;
            font-family: $mainFont;
            border: none;
            background: $defaultRegular;
            color: $defaultMedium;
            border-radius: 5px;
            transition: ease-in-out 0.3s;
            &:hover{
                box-shadow: 0 0 1em $defaultRegular;
            }
        }
    }
}
