.dashboard-wrapper{
    height: 85vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .content{
        position: absolute;
        width: 50%;
        height: 50%;
    }
}