@use '../helper/' as *;

.slingshot-wrapper{
    z-index: 30;
    position: absolute;
    width: 70%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex(center, center, row);

    .close-slingshot{
        position: absolute;
        right: 5%;
        top: 5%;
        padding: 0.5rem 1rem;
        font-size: 3vmin;
        color: white;
        background: $error;
        border: solid white 3px;
        border-radius: 3px;
    }

    .counter{
        position: absolute;
        color: white;
        top: 5%;
        font-size: 3vmin;
    }

    .restart-slingshot{
        position: absolute;
        top: 5%;
        left: 5%;
        padding: 0.5rem 1rem;
        font-size: 3vmin;
        color: white;
        background: rgb(29, 167, 29);
        border: solid white 3px;
        border-radius: 3px;
    }
}