@use '../helper/' as *;

.weather-wrapper{
    @include flex(center, center, column);

    .weather-icon{
        height: 50%;
        width: auto;
    }

    p{
        z-index: 1;
        font-size: 5vmin;
    }
}