@use '../helper/' as *;

.weather-wrapper{
    right: 0;
    top: 0;
    @include flex(space-around, center, column);

    .weather-icon{
        height: 50%;
        width: auto;
    }

    p{
        z-index: 1;
        font-size: 5vmin;
    }
}